@import "partials/_variables";
@import "partials/_normalize";
@import "partials/_prism";
@import "partials/_cf";
@import "partials/_header";
@import "partials/_footer";
@import "partials/_headings";


// dedede



.container {
  max-width: 980px;
  margin: 0 auto;
  @media (max-width: 1000px) {
    margin: 0 20px;
  }
  @media (max-width: 768px) {
    margin: 0 10px;
  }
}



//================================================
.code {
  background: $background-color;
  padding: 0;
  margin: 40px 0 40px 0;
  &:hover h4 {
    opacity: 1;
  }
  .container {
    position: relative;
  }
}
:not(pre) > code {
  background: $background-color;
  color: $white;
  padding: 0 5px;
  display: inline-block;
  border-radius: 2px;
}


//================================================
.text {
  p {
    margin-bottom: 20px;
    margin-top: 0;
    // font-family: 'Vollkorn', serif;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    color: $text-color-primary;
    &:last-child {
      margin-bottom: 0;
    }
  }
  span {
    font-family: 'Vollkorn', serif;
    line-height: 1.5em;
    color: $text-color-primary;
  }
  a {
    color: $active-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin-left: 10px;
    @media (max-width: 768px) {
      margin-left:0;
    }
    li {
      margin-bottom: 5px;
      font-family: 'Open Sans', sans-serif;
      color: $text-color-primary;
    }
  }
}




//================================================
blockquote {
  border-left: 8px solid $active-color;
  letter-spacing: .02em;
  margin: 30px 20px 30px 20px;
  padding: 8px 0;
  font-style: italic;
  padding-left: 20px;
  font-family: 'Vollkorn', serif;
  color: $text-color-primary;
  font-size: 1.3em;
}



//================================================
.links {
  margin-bottom: 20px;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: inline-block;
    margin-right: 10px;
  }
  a {
    color: $text-color-seconday;
    // font-family: 'Vollkorn', serif;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 1em;
    transition: 200ms all;
    &:hover {
      color: $active-color;
    }
    i {
      color: $active-color;
    }
  }
}


//================================================
.further {
  margin-top: 30px;
  h3 {color: $text-color-primary;}
  ul {padding: 5px 0 5px 20px;}
  li {margin-bottom: 5px;}
}


//================================================
a.ui-button:link, a.ui-button:visited, {
  background: $active-color;
  color: $white;
  padding: 8px 10px 7px 10px;
  text-decoration: none;
  border-radius: 2px;
  transition: 200ms all;
  &:hover {
    background: lighten($active-color,8%);
  }
  i {
    margin-right: 5px;
  }
}

//================================================
.comments {
  margin-top:30px;
}
