@import "partials/_normalize";
@import "partials/_prism";
@import "partials/_cf";


* {
  margin: 0;
  padding: 0;
}

$text-color-primary: #333;
$text-color-seconday: lighten($text-color-primary,10%);
$active-color: #c32f34; //#c83c3c;
$background-color: #232323;
$white: #fff;



.container {
  max-width:980px;
  margin:0 auto;
  @media (max-width: 1000px) {
    margin:0 20px;
  }
  @media (max-width: 768px) {
    margin:0 10px;
  }
}

body {
  // overflow-x:hidden;

}


//================================================
.code {
  background:$background-color;
  padding:0;
  margin:15px 0 30px 0;
  &:hover h4 {
    opacity:1;
  }
  .container {
    position:relative;
  }
}
:not(pre) > code {
  background:$background-color;
  color:$white;
  padding:0 5px;
  display: inline-block;
  border-radius: 2px;
}


//================================================
.text {
  p {
    margin-bottom:20px;
    margin-top:0;
    font-family: 'Vollkorn', serif;
    line-height:1.5em;
    color:$text-color-primary;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  span {
    font-family: 'Vollkorn', serif;
    line-height:1.5em;
    color:$text-color-primary;
  }
  a {
    color:$active-color;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
}


//================================================
h1 {
  font-family: 'Vollkorn', serif;
  margin:30px 0 0 0;
  color:$active-color;
  font-size:2em;
}
h2 {
  font-family: 'Vollkorn', serif;
  margin:0 0 40px 0;
  color:$text-color-seconday;
  font-size:1.4em;
}
h3 {
  font-family: 'Vollkorn', serif;
  margin:10px 0 5px 0;
  color:$active-color;
  font-size:1.2em;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  margin:0 0 0 0;
  color:$text-color-primary;
  position:absolute;
  top:0;
  right:-10px;
  opacity:0;
  transition: 400ms all;
  background: $white;
  padding:5px 20px 5px 20px;
}



//================================================
blockquote {
  border-left:8px solid $active-color;
  letter-spacing:.02em;
  margin:30px 20px 30px 20px;
  padding:8px 0;
  font-style:italic;
  padding-left:20px;
  font-family: 'Vollkorn', serif;
  color:$text-color-primary;
}



//================================================
header {
  border-bottom:8px solid $active-color;
  background: $background-color;
  color:$white;
  font-family: 'Vollkorn', serif;
  padding:15px 0;
  a {
    color:$white;
    text-decoration:none;
    &:hover i {
      color:$active-color;
    }
    i {
      transition: 200ms all;
    }
  }
  .logo {
    font-size:2em;
    float:left;
  }
  .contact {
    float:right;
    line-height:44px;
  }
}


//================================================
footer {
  border-top:8px solid $active-color;
  font-family: 'Vollkorn', serif;
  margin-top:70px;
  background:$background-color;
  color:$white;
  line-height:1.5em;
  padding:60px 0;
}


//================================================
.links {
  margin-bottom:20px;
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
  }
  li {
    display: inline-block;
    margin-right:10px;
  }
  a {
    color:$text-color-seconday;
    font-family: 'Vollkorn', serif;
    text-decoration: none;
    font-size:1.2em;
    transition: 200ms all;
    &:hover {
      color:$active-color;
    }
    i {
      color:$active-color;
    }
  }
}


//================================================
.further {
  margin-top:30px;
  h3 {color:$text-color-primary;}
  ul {padding:5px 0 5px 20px;}
  li {margin-bottom:5px;}
}


//================================================
a.ui-button:link, a.ui-button:visited, {
  background:$active-color;
  color:$white;
  padding:8px 10px 7px 10px;
  text-decoration: none;
  border-radius:2px;
  transition:200ms all;
  &:hover {
    background:lighten($active-color,8%);
  }
  i {
    margin-right:5px;
  }
}
